<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.pwr.sztuczneoko.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_nameDesc"
        android:theme="@style/AppTheme" 
>
        <activity
            android:name="pl.pwr.sztuczneoko.ui.EntryPointActivity"
            android:label="@string/app_name" 
            android:description="@string/app_nameDesc"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name="pl.pwr.sztuczneoko.ui.CameraActivity"
            android:label="@string/title_activity_camera"
            android:description="@string/title_activity_cameraDesc"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="pl.pwr.sztuczneoko.ui.PropertiesActivity"
            android:label="@string/title_activity_properties"
            android:description="@string/title_activity_propertiesDesc" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pl.pwr.sztuczneoko.ui.BTPropertiesActivity"
            android:label="@string/title_activity_btproperties"
            android:description="@string/title_activity_btpropertiesDesc" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pl.pwr.sztuczneoko.ui.CamPropertiesActivity"
            android:label="@string/title_activity_cam_properties"
            android:description="@string/title_activity_cam_propertiesDesc"  
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pl.pwr.sztuczneoko.ui.FilterPropertiesActivity"
            android:label="@string/title_activity_filter_properties"
            android:description="@string/title_activity_filter_propertiesDesc"  
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pl.pwr.sztuczneoko.ui.GalleryActivity"
            android:label="@string/title_activity_gallery" 
            android:description="@string/title_activity_galleryDesc"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity 
            android:name="pl.pwr.sztuczneoko.communication.BluetoothCommunication"
            android:label="@string/title_activity_gallery" 
            android:theme="@android:style/Theme.NoDisplay" 
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="pl.pwr.sztuczneoko.ui.Puzzle15Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation" 
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
			 >
        </activity>
    </application>

</manifest>
